## ML in Finance Group Project
## Group 2: Barbara Capl, Mathias LÃ¼thi, Pamela Matias, Stefanie Rentsch

In [1]:
import pandas as pd
import numpy as np

# Load in data from the Wharton Database
df = pd.read_csv('Data/WhartonData.csv', sep=',', header=0)

df = df.drop(['SPREAD', 'HSICIG', 'DIVAMT'], 1)
df = df.drop(df.index[3364])
df.columns.values[0] = 'permno'

print(df.isnull().sum())

df['date'] = df.date.str[3:]

display(df.head())

permno    0
date      0
SICCD     0
TICKER    0
COMNAM    0
BIDLO     0
ASKHI     0
PRC       0
BID       0
ASK       0
vwretd    0
vwretx    0
dtype: int64

,permno,date,SICCD,TICKER,COMNAM,BIDLO,ASKHI,PRC,BID,ASK,vwretd,vwretx
0,10107,01/2006,7370.0,MSFT,MICROSOFT CORP,26.28,28.15,28.15,28.15,28.13,0.040044,0.038938
1,10107,02/2006,7370.0,MSFT,MICROSOFT CORP,26.39,28.04,26.87,26.87,26.88,-0.001637,-0.003552
2,10107,03/2006,7370.0,MSFT,MICROSOFT CORP,26.85,27.89,27.21,27.24,27.24,0.019053,0.017585
3,10107,04/2006,7370.0,MSFT,MICROSOFT CORP,24.15,27.74,24.15,24.16,24.16,0.012965,0.011494
4,10107,05/2006,7370.0,MSFT,MICROSOFT CORP,22.56,24.29,22.65,22.70,22.70,-0.031045,-0.033025

In [2]:
# Load in the Ratios
ratios = pd.read_csv('Data/Ratios.csv', sep=',', header=0)

ratios = ratios.drop(['sale_nwc', 'adate', 'qdate'], 1)

ratios.columns.values[1] = 'date'
ratios['date'] = ratios.date.str[3:]

display(ratios.head())

,permno,date,CAPEI,bm,evm,pe_op_basic,pe_op_dil,pe_exi,pe_inc,ps,...,sale_equity,rd_sale,adv_sale,staff_sale,accrual,ptb,PEG_trailing,divyield,PEG_1yrforward,PEG_ltgforward
0,10107,01/2006,33.861,0.176,15.245,23.074,23.264,23.856,23.856,7.211,...,0.845,0.151,0.025,0.0,0.055,6.019,11.538,1.14%,15.506,2.109
1,10107,02/2006,31.756,0.163,14.951,21.496,21.846,22.392,22.392,6.713,...,0.880,0.151,0.025,0.0,0.036,6.281,10.280,1.34%,14.555,1.838
2,10107,03/2006,31.820,0.163,14.951,21.768,22.122,22.675,22.675,6.727,...,0.880,0.151,0.025,0.0,0.036,6.293,10.410,1.32%,14.739,1.842
3,10107,04/2006,28.176,0.163,14.951,19.320,19.634,20.125,20.125,5.957,...,0.880,0.151,0.025,0.0,0.036,5.573,9.239,1.49%,13.081,1.666
4,10107,05/2006,25.921,0.151,15.120,17.695,17.835,17.976,17.976,5.419,...,0.934,0.150,0.025,0.0,0.024,5.496,0.709,1.59%,-5.842,1.480

In [12]:
# Merging the two dataframes
data = pd.merge(df, ratios, left_on=['date', 'permno'], right_on=['date', 'permno'])
display(data.head())

,permno,date,SICCD,TICKER,COMNAM,BIDLO,ASKHI,PRC,BID,ASK,...,sale_equity,rd_sale,adv_sale,staff_sale,accrual,ptb,PEG_trailing,divyield,PEG_1yrforward,PEG_ltgforward
0,10107,01/2006,7370.0,MSFT,MICROSOFT CORP,26.28,28.15,28.15,28.15,28.13,...,0.845,0.151,0.025,0.0,0.055,6.019,11.538,1.14%,15.506,2.109
1,10107,02/2006,7370.0,MSFT,MICROSOFT CORP,26.39,28.04,26.87,26.87,26.88,...,0.880,0.151,0.025,0.0,0.036,6.281,10.280,1.34%,14.555,1.838
2,10107,03/2006,7370.0,MSFT,MICROSOFT CORP,26.85,27.89,27.21,27.24,27.24,...,0.880,0.151,0.025,0.0,0.036,6.293,10.410,1.32%,14.739,1.842
3,10107,04/2006,7370.0,MSFT,MICROSOFT CORP,24.15,27.74,24.15,24.16,24.16,...,0.880,0.151,0.025,0.0,0.036,5.573,9.239,1.49%,13.081,1.666
4,10107,05/2006,7370.0,MSFT,MICROSOFT CORP,22.56,24.29,22.65,22.70,22.70,...,0.934,0.150,0.025,0.0,0.024,5.496,0.709,1.59%,-5.842,1.480

1    0
2    1
3    0
4    0
5    1
Name: direction, dtype: int32

,CAPEI,bm,evm,pe_op_basic,pe_op_dil,pe_exi,pe_inc,ps,pcf,dpr,...,sale_equity,rd_sale,adv_sale,staff_sale,accrual,ptb,PEG_trailing,divyield,PEG_1yrforward,PEG_ltgforward
1,31.756,0.163,14.951,21.496,21.846,22.392,22.392,6.713,17.868,0.264,...,0.880,0.151,0.025,0.0,0.036,6.281,10.280,1.34%,14.555,1.838
2,31.820,0.163,14.951,21.768,22.122,22.675,22.675,6.727,17.905,0.264,...,0.880,0.151,0.025,0.0,0.036,6.293,10.410,1.32%,14.739,1.842
3,28.176,0.163,14.951,19.320,19.634,20.125,20.125,5.957,15.854,0.264,...,0.880,0.151,0.025,0.0,0.036,5.573,9.239,1.49%,13.081,1.666
4,25.921,0.151,15.120,17.695,17.835,17.976,17.976,5.419,15.303,0.259,...,0.934,0.150,0.025,0.0,0.024,5.496,0.709,1.59%,-5.842,1.480
5,26.301,0.151,15.120,18.203,18.346,18.492,18.492,5.498,15.527,0.259,...,0.934,0.150,0.025,0.0,0.024,5.577,0.730,1.55%,-6.010,1.522

In [4]:
# Creating a responce vector and an attribute matrix
data['direction'] = np.where((data['PRC'].shift(1) - data['PRC']) <= 0, 1, 0)
data = data[data.date != '01/2006']
response = data['direction']
attributes = data.iloc[:, 12:-1]

display(response.head())
display(attributes.head())

SyntaxError: invalid syntax (<ipython-input-5-46fe25eb1511>, line 3)